@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans antialiased bg-accent-dark
}

@layer utilities {
  @keyframes hover-in-air {

    0%,
    100% {
      transform: translateY(41.5%);
      animation-timing-function: cubic-bezier(0.3, 0.27, 0.6, 0.9);
    }

    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.3, 0.27, 0.6, 0.9);
    }
  }

  .animate-hover-in-air {
    animation: hover-in-air 4s infinite;
  }
}